@font-face {
    font-family: Fibra;
    src: url(fibra-light.otf);
}

@font-face {
    font-family: FibraRegular;
    src: url(Fibra-Regular.otf);
}

@font-face {
    font-family: FibraBold;
    src: url(Fibra-Bold.otf);
}

@font-face {
    font-family: FibraUltraBold;
    src: url(Fibra-UltraBold.otf);
}

body {
    font-family: FibraRegular;
    background-image: url(../img/container.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.topo {
    padding-top: 45px;
}

div.menu li {
    list-style: none;
    display: inline-block;
}

div.menu a {
    color: white;
    padding: 10px 25px;
    font-size: 16px;
    text-decoration: none;
    margin-top: 4px;
    display: block;
}

div.insta a {
    color: white;
    margin-top: 4px;
    display: block;
    text-decoration: none;
    padding: 10px 5px;
    font-size: 16px;
}

div.insta img {
    display: inline-block;
    margin-right: 8px;
}

h1.titulo-topo {
    color: white;
    font-size: 80px;
    font-family: FibraUltraBold;
    text-transform: uppercase;
    margin-top: 100px;
    background: linear-gradient(to right, #d0377b 0%, #5151ff 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 60px;
}

h3.titulo-terc {
    color: white;
    font-family: FibraUltraBold;
    font-size: 33px;
    line-height: 38px;
    margin-top: 30px;
    margin-bottom: 30px;
}

div.conteudo-1 img {
    margin-top: 120px;
    padding-left: 30px;
    margin-bottom: 150px;
}

h2.titulo-sec {
    font-family: FibraBold;
    text-transform: uppercase;
    color: white;
    margin-top: 180px;
    font-size: 50px;
}

p.text-content {
    color: white;
    margin-top: 30px;
}

a.link {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 14px 25px;
    border-radius: 50px;
    font-size: 16.18;
    margin-top: 30px;
    display: inline-block;
}

a.link:hover {
    background-color: white;
    color: black;
}

div.img-group {
    padding-top: 230px;
    text-align: right;
    padding-right: 0px;
}

div.img-group img {
    display: inline-block;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    transition: all 200ms linear 0s;
}

div.img-group img:hover {
    display: inline-block;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: gray;
}

div.inovacao {
    height: 450px;
    background-image: url(../img/pilares.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: all;
    margin-top: 300px;
    margin-bottom: 300px;
    background-attachment: fixed;
}

h2.mt-0 {
    margin-top: 0px;
    margin-bottom: 50px;
}

footer {
    background-color: #5151ff;
    padding: 60px 0px;
    margin-top: 80px;
    color: white;
}

address {
    margin-bottom: 40px;
}

footer p {
    margin-bottom: 5px;
}

a.link-rodape img {
    display: inline-block;
    margin-right: 5px;
}

a.link-rodape {
    margin-top: 5px;
    color: white;
    text-decoration: none;
    display: block;
}

p.email {
    margin-bottom: 40px;
}

label.label {
    color: black;
    font-size: 16.18px;
}

.input {
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1.618px solid black;
    border-radius: 0;
    color: white;
    box-shadow: none;
    font-weight: 500;
    padding-left: 0;
    margin-left: 9px;
    height: 48px;
    margin-bottom: 26.18px;
    resize: none;
}

.input:focus {
    border-color: transparent;
    box-shadow: none;
    border-bottom: 1.618px solid black;
}

form.formulario01 {
    margin-top: 180px;
}

input.enviar {
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 50px;
    border-radius: 50px;
    font-size: 16.18;
    margin-top: 30px;
    display: inline-block;
    background-color: white;
    font-family: FibraBold;
}

input.enviar:hover {
    background-color: black;
    color: white;
}

div.end {
    background-color: #272727;
    padding: 20px 0px;
    align-items: center;
    color: white;
}

div.end p {
    margin-bottom: 0;
}